<!DOCTYPE html>
<html>
  <head>
  <body>
    
    <title>{{myname}} Layan projects</title>
    {% include 'bootstrap.html' %}
    
  </head>
<body>
  <div class="container">
  <h1 class="text-center"> {{myname}} projects </h1>
  {% include 'banner.html' %}
  <h2 class="text-center"> About me </h2>
  <div>Hi, I'm Layan, an AI practitioner at Armco Digital. I'm passionate about using AI to solve real-world problems and make a positive impact. I'm particularly skilled in Python programming, and I've used it to develop a number of successful AI projects.</div>
  <h2>project</h2>
<div>
  {% for item in myskills %}
  {% include 'myprojects.html'%}
    {% endfor %}
</div>
<div class="text-center">
  <a href="/contactme" type="button" class="btn btn-primary">Contact Me</a>
<p>copy right,{{myname}}</p>
  </div>
</body>
</html>